# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
backend/venv/

# Django
db.sqlite3
media/
staticfiles/

# Env variables
.env

# Node / React
node_modules/
build/
dist/

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db